/* Global Element Styles */

html {
  padding: 0;
  margin: 0;
}

body {
  color: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ddd url("../img/myw-bg.gif") repeat-y fixed top center;

  padding: 0;
  margin: 0;
}

main {
  text-align: left;
  background: #333;

  width: 600px;

  margin: auto;
}

ul {
  list-style-type: none;
}

p {
  line-height: 20px;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

header {
  text-align: center;

  width: 600px;
  border: #949fa4 0px solid;
  border-bottom-width: 1px;
  margin: auto;
  margin-bottom: 30px;
}

footer  {
  font-size: x-small;

  width: 600px;
  border: #949fa4 0px solid;
  border-top-width: 1px;
  padding: 3px 0 20px 0;
  margin: auto;

  position: relative;
  bottom: 0;
}

figure {
  padding: 5px;
  border: 1px solid #949fa4;
  margin: 15px;
  margin-top: 0;
}

h1 {
  padding: 20px 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #949fa4;
}
a:visited {
  color: #999;
}
a:hover {
  color: #949fa4;
}

address {
  font-style: normal;
}

abbr {
  border-bottom: none
}



/* Utilitity Classes */
.right {
  float: right;
}

.left {
  float: left;
}

/* Page Components */
footer .left {
  text-align: left;
}
footer .right {
  text-align: right;
}

figure.photo img {
  width: 176px;
}

.contact {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

